node_modules
.bun
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
apps/mobile/.expo
!apps/mobile/android/
apps/mobile/android/.gradle/
apps/mobile/android/.kotlin/
apps/mobile/android/build/
apps/mobile/android/app/build/
!apps/mobile/android/app/build/outputs/
apps/mobile/android/app/build/outputs/*
!apps/mobile/android/app/build/outputs/apk/
apps/mobile/android/app/build/outputs/apk/*
!apps/mobile/android/app/build/outputs/apk/release/
apps/mobile/android/app/build/outputs/apk/release/*
!apps/mobile/android/app/build/outputs/apk/release/app-release.apk
.astro
packages/*/dist
.env
.env.local
build/
.logs/
release/
.t3
.idea/
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
.vitest-*
__screenshots__/
