node_modules
.bun
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
apps/mobile/.expo
.astro
packages/*/dist
.env
.env.local
build/
!apps/mobile/android/app/build/
apps/mobile/android/app/build/*
!apps/mobile/android/app/build/outputs/
apps/mobile/android/app/build/outputs/*
!apps/mobile/android/app/build/outputs/apk/
apps/mobile/android/app/build/outputs/apk/*
!apps/mobile/android/app/build/outputs/apk/debug/
!apps/mobile/android/app/build/outputs/apk/release/
apps/mobile/android/app/build/outputs/apk/debug/*
apps/mobile/android/app/build/outputs/apk/release/*
!apps/mobile/android/app/build/outputs/apk/debug/app-debug.apk
!apps/mobile/android/app/build/outputs/apk/debug/output-metadata.json
!apps/mobile/android/app/build/outputs/apk/release/app-release.apk
!apps/mobile/android/app/build/outputs/apk/release/output-metadata.json
.logs/
release/
.t3
.idea/
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
.vitest-*
__screenshots__/
